<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/teams.css' %}">
    <style>
        body{
            background-image: url("{% static 'images/background.png' %}");
            background-repeat: no-repeat;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>