{% extends "pages/home_base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="icon_logo">
        <div class="teams_icon">
                <button>
                <a href="#"><img src="{% static 'images/image_insert.png' %}" class="image_insert"/></a>
                </button>
                <img src="{% static 'images/teams_logo/Norwich_City.png' %}" class="icon"/>
                <img src="{% static 'images/teams_logo/Wolves.png' %}" class="icon"/>
        </div>
        <div class="logo">
            <div class="user">
                <b class="username">{{username}}</b>
                <a href="{% url 'logout' %}" class="logout">Log Out</a>
            </div>
            <b class="logo_name">Premiere League</b>
            <b class="season">Season 2022 - 2023</b>
            <img src="{% static 'images/Premiere-League.png' %}" class="league-image"/>
        </div>
    </div>
    <div class="menu">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
        <ul class="nav-items">
          <li><a href="/">Home</a></li>
          <li><a href="/matches">Matches</a></li>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/managers">Managers</a></li>
          <li><a href="/league">League</a></li>
        </ul>
      </div>
      
      <div class="content">
        <div class="left">
          <div class="standings">
            <div class="content_title">Standings</div>
            <div class="stt">
              <h1>1</h1>
              <h1>2</h1>
              <h1>3</h1>
              <h1>4</h1>
            </div>
            <div class="teams_logo">
              <img src="{% static 'images/teams_logo/MU.png' %}"{{ image }}/>
              <img src="{% static 'images/teams_logo/Liverpool.png' %}"/>
              <img src="{% static 'images/teams_logo/Chelsea.png' %}"/>
              <img src="{% static 'images/teams_logo/Tottenham.png' %}"/>
            </div>
            <div class="teams_name">
              <h1>Manchester United</h1>
              <h1>Liverpool</h1>
              <h1>Chelsea</h1>
              <h1>Tottenham</h1>
            </div>
            <div class="teams_pts">
              <h1>78pt</h1>
              <h1>76pt</h1>
              <h1>75pt</h1>
              <h1>68pt</h1>
            </div>
            <div class="seeall">
              <a href="#">See All</a>
            </div>
          </div>
          <div class="potm">
            <div class="content_title">Player Of The Month ({{this_month}}December 2023)</div>
            <div class="potm_content">
              <div class="potm_picture">
                <img src="{% static 'images/player.png' %}"/>
              </div>
              <div class="information">
                <div class="ileft">
                  <h1>1. Sadio Mane {{potm_name}}</h1>
                  <h2>Club: Liverpool {{potm_club}}</h2>
                </div>
                <div class="iright">
                  <h1>Apperances: 5 {{potm_apperances}}</h1>
                  <h1>Goals: 4 {{potm_goals}}</h1>
                  <h1>Assists: 2 {{potm_assists}}</h1>
                </div>
              </div>
            </div>
            <div class="seeall">
              <a href="#">See All Players</a>
            </div>
          </div>
        </div>
        <div class="right">
            <div class="schedule" id="schedule1">
                <div class="versus">
                  <img src="{% static 'images/teams_logo/Liverpool.png' %}" class="attacker"/>
                  <img src="{% static 'images/teams_logo/MU.png' %}" class="defender"/>
                  <h1>Liverpool - Manchester United</h1>
                </div>
                <div class="fixture" id="fixture1">
                  <img src="{% static 'images/calendar.png' %}" class="calendar"/>
                  <h1>21 June 2023, 02:00 PM</h1>
                  <img src="{% static 'images/trophy.png' %}" class="trophy"/>
                </div>
              </div>
              <div class="schedule" id="schedule2">
                <div class="versus">
                  <img src="{% static 'images/teams_logo/Chelsea.png' %}" class="attacker"/>
                  <img src="{% static 'images/teams_logo/Tottenham.png' %}" class="defender"/>
                  <h1>Chelsea - Tottenham</h1>
                </div>
                <div class="fixture" id="fixture2">
                  <img src="{% static 'images/calendar.png' %}" class="calendar"/>
                  <h1>22 June 2023, 03:30 PM</h1>
                  <img src="{% static 'images/trophy.png' %}" class="trophy"/>
                </div>
              </div>
              <div class="schedule" id="schedule3">
                <div class="versus">
                  <img src="{% static 'images/teams_logo/MU.png' %}" class="attacker"/>
                  <img src="{% static 'images/teams_logo/Chelsea.png' %}" class="defender"/>
                  <h1>Manchester United - Chelsea</h1>
                </div>
                <div class="fixture" id="fixture3">
                  <img src="{% static 'images/calendar.png' %}" class="calendar"/>
                  <h1>23 June 2023, 01:00 PM</h1>
                  <img src="{% static 'images/trophy.png' %}" class="trophy"/>
                </div>
              </div>
            </div>
          </div>
        
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
    </div>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum nec elit eget euismod. Proin porttitor libero eu purus dignissim, eu posuere libero luctus. Vivamus aliquam odio nec nisl maximus imperdiet. Nam id egestas risus, ut posuere mi. Mauris eu ipsum elementum, pretium est sed, rhoncus massa. Donec pretium lorem augue, non cursus diam feugiat in. In vulputate pharetra tellus at pulvinar. Curabitur cursus malesuada elementum.

        Ut eros sem, dapibus in eros vel, iaculis consectetur purus. Aliquam erat volutpat. Nullam ut ligula nulla. Suspendisse vel odio id orci euismod pulvinar. Mauris elementum ornare nisl, bibendum pulvinar mauris bibendum a. Duis at consectetur ex, id porttitor nisi. Nunc tempor iaculis augue, vel aliquet mauris convallis et. Donec non lectus ultricies, mollis ligula eget, pretium eros. Phasellus imperdiet luctus iaculis.
    </div>
    
{% else %} 
    <script>
        window.location.replace("/login/");
    </script>
{% endif %}
{% endblock %}